<h2 class="title">Statistics</h2>

@if (students$ | async; as students) {

<!-- BLOQUE 1 -->
<section class="block b1">
  <div class="container">
    <div class="card">
      @defer {
      <app-resume-data [students]="students"></app-resume-data>
      } @placeholder {
      <p>Cargando bloque 1...</p>
      }
    </div>
  </div>
</section>

<!-- BLOQUE 2: carga cuando entra en el viewport -->
<section class="block b2">
  <div class="container">
    <div class="card">
      @defer (on viewport) {
      <app-gender [students]="students"></app-gender>
      } @placeholder {
      <p>Haz scroll para cargar el bloque 2...</p>
      }
    </div>
  </div>
</section>

<!-- BLOQUE 3: carga cuando entra en el viewport -->
<section class="block b3">
  <div class="container">
    <div class="card">
      @defer (on viewport) {
      <app-general-results [students]="students"></app-general-results>
      } @placeholder {
      <p>Haz scroll para cargar el bloque 3...</p>
      }
    </div>
  </div>
</section>

} @else {
<p class="loading">Cargando datos...</p>
}
